.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

.btn-lg{
border: 2px solid black;
font-family: 'Montserrat-black', sans-serif;
font-size: 25px;
color: rgb(56, 52, 52);
margin-top: 40px;
padding: 1rem 2rem;
border-radius: 15px ;
background-color: #4ECCA3;
transition: 0.5s;
}
.btn:hover{
  background-color: #329f7b;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
